---
const {title, url, description, collab, img, alt, style} = Astro.props;
---

<div class={style}>
    <a href={url} class="item">
        <div class="image">
            <img src={img} alt={alt}>
            <div class="inner">
                <h2>{title}</h2>
            </div>
        </div>
        <div class="description">
                <h3>{description}</h3>
                <p>{collab}</p>
        </div>
    </a>
</div>