---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import Tagline from "../components/Content/Tagline.astro";
import ProjectCard from "../components/Card/ProjectCard.astro";
import TagBar from "../components/Tag/TagBar.astro";

let allProjects = await getCollection("projects");

// Sort the projects based on the "type" field
allProjects = allProjects
.filter((project) => project.data.draft !== false)
.sort((a, b) => {
  if (a.data.type === 'Spicy' || (a.data.type === 'New' && b.data.type !== 'Spicy')) return -1;
  if (b.data.type === 'Spicy' || (b.data.type === 'New' && a.data.type !== 'Spicy')) return 1;
  if (a.data.type === 'None' && b.data.type !== 'None') return 1;
  if (b.data.type === 'None' && a.data.type !== 'None') return -1;
  return 0;
});

---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <div class="container tag-home">
      <TagBar/>
    </div>
    <div class="work-display clearfix">
      <div class="grid">
        {allProjects.map((projects) => 
            <ProjectCard
                style={`column medium-1-2 large-1-3 xxlarge-1-4 card ${projects.data.tags.join(" ")}`}
                url={`/projects/${projects.slug}/`} 
                img={projects.data.image.url} 
                alt={projects.data.image.alt} 
                description={projects.data.card} 
                collab={projects.data.made} 
                title={projects.data.title}
                type={projects.data.type}
                />
        )}
      </div>  
    </div>
  </div>
</BaseLayout>