---
import BaseLayout from "../layouts/BaseLayout.astro";

import Tagline from "../components/Content/Tagline.astro";
import ProjectCard from "../components/Card/ProjectCard.astro";
import TagBar from "../components/Tag/TagBar.astro";

import { getCollection } from "astro:content";
import {filterProjects} from "../scripts/filter.js"

const allProjects = await getCollection("projects");
let selectedTags = ['All']; // starts with 'All' selected
let filteredProjects = filterProjects(allProjects, selectedTags);
---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <div class="container tag-home">
      <TagBar/>
    </div>
    <div class="work-display clearfix">
      <div class="grid">
        {filteredProjects.map((projects) => 
            <ProjectCard
                url={`/projects/${projects.slug}/`} 
                img={projects.data.image.url} 
                alt={projects.data.image.alt} 
                description={projects.data.card} 
                collab={projects.data.made} 
                title={projects.data.title} />
        )}
      </div>  
    </div>
  </div>
</BaseLayout>