---
import BaseLayout from "../layouts/BaseLayout.astro";

import Tagline from "../components/Content/Tagline.astro";
import ProjectCard from "../components/Card/ProjectCard.astro";
import TagBar from "../components/Tag/TagBar.astro";

const allProjects = await Astro.glob('../pages/projects/*.md');
---

<BaseLayout>
  <div class="page-home">
    <Tagline/>
    <TagBar/>
    <div class="work-display clearfix">
      <div class="grid">
        {allProjects.map((projects) => 
            <ProjectCard 
                url={projects.url} 
                img={projects.frontmatter.image.url} 
                alt={projects.frontmatter.image.alt} 
                description={projects.frontmatter.card} 
                collab={projects.frontmatter.made} 
                title={projects.frontmatter.title} />
        )}
      </div>  
    </div>
  </div>
</BaseLayout>