---
const {platform, username} = Astro.props;

let img = platform;
img = img.replace(/\./g, '-');
---
<div class="link">
    <img class=`${img}-img` alt=`logo ${platform}`>
    <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
</div>