---
const {platform, username} = Astro.props;
---
<div class="link">
    <img class=`${platform}-img` alt=`logo ${platform}`>
    <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
</div>