---
const {platform, username} = Astro.props;

let img = platform;
img = img.replace(/\./g, '-');
---
<div class="link">
    <a href={`https://www.${platform}.com/${username}`} target="_blank">
        <img class=`${img}-img` alt=`logo ${platform}`>
        {platform}
    </a>
</div>