---
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Footer/Social.astro";
import Interest from "../components/Content/Interest.astro";

import {Content as Experience} from '../components/Content/cv.md'
const {frontmatter} = Astro.props;
---

<BaseLayout>
    <div class="page-about">
            <section class="row">
                    <div class="column medium-1-2 large-1-2 des">
                        <div class="inner">
                            <slot/>
                        </div>
                    </div>
                <div class="column medium-1-2 large-1-2">
                    <div class="image">
                        <img loading="lazy" src={frontmatter.profilepic.url} alt={frontmatter.profilepic.alt} width="1280" height="914"/>
                    </div>
                </div>
            </section>
            <hr/>
            <section class="row">
                <div class="interests">
                    <Interest title="What I'm up to 💻" content={frontmatter.upto}/>
                    <Interest title="What I love 😋" content={frontmatter.love}/>
                    <Interest title="Currently obsessed with 😵" content={frontmatter.obs}/>
                </div>
            </section>
            <hr/>
            <section class="row">
                    <!--Stats -->
                    <div class="column large-1-4 cv">
                        <div class="row small-padding">
                            <div class="column medium-3-10 large-1-4">
                                <h3>Look at my stats!</h3>
                            </div>
                            <div class="column small-3-4 medium-3-10 large-1-4">
                                {frontmatter.socials.map(social => (
                                    <Social platform={social.platform} username={social.username}/>
                                ))}
                            </div>
                        </div>
                    </div>
                    <div class="column medium-3-10 large-3-4"> <!--vedi migliore divisione -->
                        <Experience/>
                    </div>
            </section>
    </div>
</BaseLayout>