---
import BaseLayout from "./BaseLayout.astro";

const {frontmatter} = Astro.props;
---
<BaseLayout>
    <div class="main-content">
        <section class="content-column">
            <h1>{frontmatter.title}</h1>
            <span>{frontmatter.description}</span>
            <p>Designed with: {frontmatter.author}</p>
            <!--elementi all'interno del file md sono considerati html, quindi possono essere stylati con css -->
            <slot />
        </section>
        <!--immagini all'interno di main-content vengono messe nella colonna di sinistra -->
        <div class="heroshot">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        </div>
    </div>
    <div class="main-content-mobile">
        <div class="heroshot">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
        </div>
        <div class="content-mobile">
            <h1>{frontmatter.title}</h1>
            <span>{frontmatter.description}</span>
            <p>Designed with: {frontmatter.author}</p>
        </div>
    </div>
</BaseLayout>