---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

import TagCard from "../components/Card/TagCard.astro";
import Footer from "../components/Footer/Footer.astro";
import HtmlLayout from "./HtmlLayout.astro";
import HeaderProj from "../components/HeaderProject/HeaderProj.astro";
const {frontmatter} = Astro.props; //here the frontmatter of the displayed project in this page

const Projects = await getCollection("projects");
// Filter out the current project
const otherProjects = Projects.filter(p => p.data.title !== frontmatter.title && p.data.draft !== false);

function compareTags(projectTags, otherProjectTags) {
    return otherProjectTags.filter(tag => projectTags.includes(tag));
}

// For each project, calculate the number of common tags with the current project
const projectsWithCommonTags = otherProjects.map(p => ({
    ...p,
    commonTags: compareTags(frontmatter.tags, p.data.tags)
}));

// Sort the projects by the number of common tags (in descending order)
const sortedProjects = projectsWithCommonTags.sort((a, b) => b.commonTags.length - a.commonTags.length);

// Select the top 3 projects
const Suggested = sortedProjects.slice(0, 3);
---

<HtmlLayout>
    <HeaderProj title={frontmatter.title} subhead={frontmatter.description}/>
    <div class="heroshot">
        <div class="image" transition:animate="slide">
            <Image src={frontmatter.image.url} alt={frontmatter.image.alt} height="914" width="1280"/>
        </div>
    </div>
    <main class="wrapper">
        <div class="container">
            <div class="credits">
                <div class="row">
                    <div class="column small-1-2 medium-1-4 large-1-4">
                        <p>Period:
                            <ul>
                                <li>{frontmatter.time}</li>
                            </ul>
                        </p>
                    </div>
                    <div class="column small-1-2 medium-1-4 large-1-4">
                        <p>Role:</p>
                        <ul>
                            {frontmatter.role.map(role => <li>{role}</li>)}
                        </ul>
                    </div>
                    <div class="column small-1-2 medium-1-4 large-1-4">
                        <p>Team:</p>
                        <ul>
                            {frontmatter.team.map(member => <li>{member}</li>)}
                        </ul>
                    </div>
                    <div class="column small-1-2 medium-1-4 large-1-4">
                        <p>External Links:</p>
                        <ul>
                            {frontmatter.links.map((link, index) => <li><a href={link} target="blank">{frontmatter.taglinks[index]}</a></li>)}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="work-project">
                <div class="inner">
                    <slot />
                </div>
            </div>
    </main>
    <div class="container">
        <div class="work-related">
            <section class="row small-padding">
                <div class="column large-1-4">
                    <p>Similar projects</p>
                </div>
                <div class="column large-3-4">
                    <ul class="work-slider">
                        <div class="draggable">
                            <div class="track">
                                {Suggested.map(p => <TagCard 
                                    url={`/projects/${p.slug}/`}
                                    title={p.data.title}
                                    img={p.data.image.url} 
                                    alt={p.data.image.alt} 
                                    description={p.data.description} 
                                />)}
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <Footer/>
    </div>
</HtmlLayout>